@import "../../utilits/vars.scss";

.footer {
  position: relative;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.button {
  display: block;
  padding: 15px 20px;
  border-radius: 6px;
  background-color: $contact-footer;
}
