@import "../../utilits/vars";

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.overlay {
  position: relative;
  // overflow: auto;
  // z-index: -1;
  height: 400px;
}

.overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: $main-backg-color;
  opacity: 0;
  padding: 0 24px;
  transform: translateY(100%);
  text-align: center;
  color: rgb(247, 248, 245);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.overlay__text:hover {
  opacity: 1;
  transform: translateY(0);
}

.menu__items {
  position: relative;
  display: block;
  width: 400px;
}

.dishes__img {
  display: block;
  border: 1px solid;
  border-radius: 10px;
  object-fit: cover;
}

.modal-dialog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  padding: 40px 20px;
  border: 1px solid;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container input,
.modal-container textarea {
  display: block;
}

.modal-container input {
  margin-bottom: 20px;
}

.input__area {
  width: 100%;
}

.close__modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: $main-backg-color;
}
