.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.menu__items {
  display: block;
  width: 400px;
}

.menu__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dishes__img {
  display: block;
  border: 1px solid;
  border-radius: 10px;
  background-size: cover;
}

.modal-dialog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  padding: 40px 20px;
  border: 1px solid;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  overflow: scroll;

  opacity: 1;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-dialog.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-container input,
.modal-container textarea {
  display: block;
}
.input__area {
  width: 100%;
}
